a{
    text-decoration: none !important;
    color:black;
  }

.techno{
  color: blue;
  margin-top: 40%;
  margin-left: 25%;
}

  
.full-height-container {
  height: 100vh; /* Set the height to 100% of viewport height */
  overflow: hidden; /* Hide any content that exceeds the viewport height */
  background-color: #f0f2f5;
}

.loginForm{
padding-top: 10%;
padding-left: 20%;  
margin-left: -15%;
}
.login{
  width: 120%;
  height: 115%;
  display: block;
  padding-top: 10%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.productContainer{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  
}

.products{
  width: 25%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  max-width: "250px" 
  
}

.productDesc{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.product-description {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters{
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 200%;
  height: 100%;
  margin: 10px;
  height: 86vh;
}
.home{
  display: flex;
}

.guest_login{
  background-color: #61d46e;
  text-align: center;
 
}
.welcome{
  position: fixed;
    margin-left: 50%;
}
